* {
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  border: 5px solid lightcoral;
  border-radius: 10px;
  background-color: rgb(255, 215, 220);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.TodoAdd {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
}
.TodoAdd input {
  width: 360px;
  font-size: 20px;
  border: 3px solid lightcoral;
  border-left: none;
  padding-left: 5px;
}
.TodoAdd button:hover {
  background-color: #d86c6c;
}
.TodoAdd input:focus {
  outline: none;
}
.add-btn {
  width: 40px;
  font-size: 24px;
  font-weight: bold;
  background: lightcoral;
  border: none;
}
ul {
  width: 100%;
  padding: 10px;
  height: 490px;
  margin-top: 0;
  overflow-y: auto;
}
h4 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  background-color: lightpink;
}
